@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #e5e5e5;
  background-image: url("../images/bg__left.svg"),
    url("../images/bg__top-right.svg"), url("../images/bg__btm-right.svg");
  background-repeat: no-repeat;
  background-position: left, top right, right bottom;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

h2 {
  margin-bottom: 2rem;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

.grid {
  display: grid;
  // grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.menu,
.cart {
  background: #ffffff;
  box-shadow: 0px 0px 70px #c7cbe3;
  border-radius: 25px;
  padding: 2.5rem 0 2.5rem 2rem;
  height: 90vh;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.food-container {
  display: flex;
  background: rgba(122, 179, 243, 0.2);
  border-radius: 20px 0 0 20px;
  gap: 20px;
  padding-right: 20px;

  > img {
    width: 150px;
    // position: absolute;
    margin-top: -20px;
    margin-left: -20px;
  }
  h3 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

  > div > * + * {
    margin-top: 0.3rem;
  }

  &:nth-of-type(2) {
    background: rgba(233, 121, 178, 0.2);
  }
  &:nth-of-type(3) {
    background: rgba(215, 215, 249, 0.2);
  }
  &:nth-of-type(4) {
    background: rgba(120, 247, 187, 0.2);
  }
}

.food-container + .food-container {
  margin-top: 3rem;
}

.price {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
}

.btn-cart {
  display: block;
  background: #6b00f5;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  border: none;
  color: #fff;
  cursor: pointer;
  // margin-bottom: 50px;
}

.cart {
  padding-right: 2rem;
  overflow-y: scroll;

  &-price {
    font-weight: bold;
    font-size: 16px;
  }

  &-item {
    display: flex;
    gap: 20px;
    padding: 1rem 0;
    border-bottom: 1px solid #d7d7f9;

    h3 {
      font-weight: normal;
      font-size: 18px;
      line-height: 20px;
    }

    .btn-arrow {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #6b00f5;
      border-radius: 50%;
      border: none;
      padding: 5px;
      width: 32px;
      height: 32px;

      img {
        width: 12px;
      }
    }
  }

  &-controller {
    display: flex;
    align-items: center;
  }

  &-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    h4 {
      font-weight: bold;
      font-size: 32px;
      line-height: 32px;
    }
  }

  &-quantity {
    width: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
  }
}

.cart-image-container {
  position: relative;

  .cart-image {
    width: 65px;
  }

  span {
    // position: absolute;
    // left: 50%;
    // top: 50%;
    transform: translate(-0%, -180%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: auto;
  }
}

.btn-clicked {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #000;
  color: #fff;
  width: 157.41px;

  img {
    width: 16px;
    display: block;
  }
}

.clicked {
  display: none;
}

.hide {
  display: none;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}
